
// Colors 
$white: ffffff; 
$black: #000000;
$green: green; 

// Text stuff
$fontFamily: "Verdana, Helvetica Neue";

// Sizes && Display
$fullWidth: 100%; 
$fullHeight: 100%;
$displayFlex: flex; 





