
/* MY CSS */

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
		width: 100vw;
		height: 100vh;
		overflow:hidden;
		font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}

.wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #f1f1f1;
    flex-direction: column;
}

.navigation {
	display: flex;
	height: 35px;
	justify-content: center;
	border-bottom: 1px solid;
}
.navigation button {
	flex:1;
}

.navigation span {
	width: 15vw;
	align-self: center;
	text-align: center;
}

.loginNav {
	display: none;
	flex-direction: column;
	width: 15vw;
	height: 100vh;
	z-index: 3;
	position: absolute;
	float:left;
	border-right: 1px solid;
	justify-content: center;
}

#frontPage {
	display: flex;
	width: 100vw;
	height: 100vh;
	z-index:1;
	background-color:white;
	flex-direction: column;
}
.welcomeBox {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#contactPage, #productPage, #addProductPage, #addUserPage, #profilePage {
	display: none;
	position: absolute;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.container {
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
	
}

.containerSideBar {
	width: 85vw;
	height: 100vh;
	margin-left: 15vw;
}

#map {
	width: 50vw;
	height: 100vh;
}

#contactInfo {
	width: 50vw;
	height: 100vh;
}

.information, .contactform {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	padding:0 25px;
}

#contactInfo p {
	margin: 25px 25px;
	text-align: center;
}

.pcontactInfo {
 	align-self: left;
 	margin-top: 10px;
}

.pcontactInfo span {
	font-weight: 700;
	margin-right: 20px;
}

#frmLogin {
	display: flex;
	width: 350px;
	margin:auto;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 0 15px #000;
	border-radius: 10px;
}

.logintxt {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #f1f1f1;
	font-size: 18px;
	font-style: oblique;
	padding: 10px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
	border-bottom:1px solid;
}

.input-group {
	display: flex;
	padding: 10px 20px;
}

.loginInput {
	width: 100%;
	padding: 0px 20px;
	height: 35px;
	background-color:#f1f1f1;
	border-radius: 10px;
}

.btnLoginFrm {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
	height: 40px;
}

#newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#SignUpBox {
	display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

#frmUpdateUser {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#editProductBox {
	display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

#frmEditProduct{
	display: flex;
	background-color: #f1f1f1;
	border: 1 px solid;
	width: 60%;
	margin: auto;
	flex-direction: column;
	justify-content: center;
}

#frmEditProduct h4 {
	display: flex;
	justify-content: center;
}

#frmSignUpUser {
	display: flex;
	flex-direction: column;
    background-color: white;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 350px;
    height: 400px;
}

#frmSignUpUser input {
	height: 35px;
	border-radius: 10px;
	width: 80%;
	margin: 10px auto;
	padding: 10px 5px;
	background-color:#f1f1f1;
}

#frmSignUpUser h3 {
	display: flex;
	justify-content: center;
	padding: 10px;
}

#btnUserSU {
	width:50%;
	height: 30px;
	margin: auto;
}

#closeSignUp {
	width: 20px;
	margin-left: 327px;
    background-color: white;
    border: none;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

#productList {
	width: 100vw;
	display: flex;
	padding-top: 25px;
	justify-content: space-around;
}

.item {
	width: 225px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	align-items: center;
	margin-top: 25px;
}


.itemInfo {
	width: 65%;
	display: flex;
    justify-content: center;
}

.btnBuyProduct {
	width: 50%;
	margin-bottom: 10px;
	background-color:green;
	border-radius: 10px;
}

#frmContactUs {
	flex-direction: column;
}

#frmContactUs input {
	display: flex;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	border-radius: 10px;
	margin-bottom: 15px;

}

#addProductBox, #addUserBox {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#productOverview, #userList {
	display: flex;
	flex-direction: column;
}

.editProductImageh4 #productImage {
	width: 50px;
	height: 50px;
}

.productview, .user, .userView {
	display: flex;
	margin: auto;
	width: 80%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding: 5px 0px;

}

.productview p, .user p {
	display: flex;
	align-items: center;
	border-right: 1px solid;
	width: 15%;
	height: 50px;
	font-size: 16px;
	margin: 0px;
}

.productview img{
	height: 75px;
	width: 75px;
}

#addProductBox h1 {
	    margin: 25px 0px;
}

#frmAddProduct {
	margin-bottom: 35px;
}

#productPage img {
	display: flex;
	margin:auto;
	width: 200px;
	height: 200px;
}

#profilePage h3 {
	margin-top:50px;
}

.txtProfileInfo {
	padding:25px 0px;
}

#profileImage {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}